*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'segoe ui';
}
.nav {
    height: 60px;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 3;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title  {
    height: 100%;
    width: 10%;
    position: absolute;
  }
  .nav-title img {
      height: 100%;
      width: 100%;
  }
  .nav > .nav-btn {
    display: none;
  }
  .nav > .nav-links {
    margin-top: 12px;
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > a {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav > .nav-links > a:hover {
    background-color: grey;
  }
  .nav > #nav-check {
    display: none;
  }
  footer {
      height: 4vh;
      width: 100%;
      display: flex;
      align-items: center;
      background: black;
      justify-content: center;
  }
  footer p {
      font-weight: 700;
      color: white;
  }
  footer a {
      text-decoration: none;
      color: red;
      font-weight: 700;
  }
  .main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
.main .order {
  height: 100vh;
  width: 50%;
  border: 1px solid red;
}
.main .payment {
  background: palegoldenrod;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .payment h2 {
  text-align: center;
  color:deeppink;
  margin: 25px 0px;
}
.payment .paymentform {
  height: 85%;
  width: 80%;
  padding: 0px 50px;
}
.payment .paymentform h2 {
  text-align: center;
  color:deeppink;
  margin: 10px 0px;
}
.paymentform label {
  font-size: 16px;
  font-weight: 700;
}
.paymentform input {
  margin: 10px 0px;
  padding: 0px 10px;
  height: 28px;
  width: 100%;
}
.paymentform .expiry {
  display: flex;
  flex-direction: row;
}
.paymentform .exdate {
  height: 28px;
  width: 20%;
  padding: 0px 0px;
}
.paymentform .exyear {
  height: 28px;
  width: 20%;
  padding: 0px 0px; 
}
.paymentform .ex1 {
  width: 50%;
}
.paymentform .ex2 {
  width: 50%;
}
.paymentform .cvvno {
  height: 28px;
  width: 100%;
}
.paymentform .submit {
  width: 20%;
  background: deeppink;
  border: 1px solid deeppink;
  font-weight: 600;
}
.paymentform #privacypolicy {
  height: 10px;
  width: 10%;
}
.paymentform .privacy {
  font-size: 12px;
  font-weight: 500;
}
  @media (max-width:600px) {
    .nav > .nav-header > .nav-title  {
        height: 100%;
        width: 35%;
        position: absolute;
      }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/* Responsive Desgin starts */
/* For Smaller Screen Size */
@media only screen and (min-width: 992px) {
  
}
/* For Tablet Device  */
@media only screen and (max-width: 992px) {
  .nav > .nav-header > .nav-title  {
    width: 20%;
  }
  .main {
    flex-direction: column;
  }
  .main .order {
    width: 100%;
  }
  .main .payment {
    width: 100%;
  }
  .payment .paymentform {
    height: 85%;
    width: 80%;
    padding: 0px 50px;
  }
}

/* For Mobile View  */
@media only screen and (max-width: 425px) { 
  footer p {
    font-size: 12px;
  }
  .main .payment h2 {
    margin: 10px 0px;
  }
  .payment .paymentform {
    height: 85%;
    width: 80%;
    padding: 0px 10px;
  }
  .main .payment h2 {
    font-size: 18px;
  }
  .payment .paymentform h2 {
    font-size: 18px;
  }
  .paymentform .submit {
    width: 100%;
  }
}
